@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #dcfffd;
  --background-end-rgb: #ccfffd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #dcfffd;
    --background-end-rgb: #ccfffd;
  }
}


.clr1 {
  background-color: #a0ded8
}

.clr2 {
  background-color: #b0dbc1
}

.clr3 {
  background-color: #dbc4c3
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body, #__next {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
